html, body {
  height: 100%;
  background-color: #2d333a; }

h1, h2, h3, h4, h5 {
  margin: 25px 0; }

hr {
  margin: 100px 0; }

.soft-link {
  color: inherit;
  text-decoration: none; }
  .soft-link:hover, .soft-link:active, .soft-link:visited, .soft-link:focus {
    color: inherit;
    text-decoration: none;
    outline: none; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  height: 100%; }

.feature-card-miniature {
  position: fixed;
  width: 100%;
  height: 65px;
  background-color: black;
  top: 0; }

.feature-card {
  color: #fff;
  height: 450px;
  width: 100%;
  background-image: url("./art/background-matte.jpg");
  background-position: center -300px; }
  .feature-card .feature-title-box {
    margin: 0 auto;
    width: 820px;
    border-bottom: 1px solid rgba(169, 178, 189, 0.25);
    padding: 25px;
    position: relative;
    top: 125px; }
    .feature-card .feature-title-box .feature-title {
      width: 100%;
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 7.5em;
      font-weight: 200;
      margin: 0;
      padding: 0;
      line-height: normal; }
  .feature-card .site-verse {
    text-align: center;
    position: relative;
    top: 155px;
    font-family: 'Arapey', sans-serif;
    color: rgba(169, 178, 189, 0.85);
    letter-spacing: 0.15em; }
    .feature-card .site-verse .btn {
      font-size: 1.8em; }
      .feature-card .site-verse .btn:hover {
        color: #d4d9de; }
      .feature-card .site-verse .btn:active {
        box-shadow: none; }
      .feature-card .site-verse .btn:focus {
        outline: none; }
    .feature-card .site-verse .popover {
      color: #333; }

#master-section {
  background-color: #fff;
  width: 100%; }
  #master-section .head-art {
    width: 100%;
    background-color: #171a1d; }
    #master-section .head-art img {
      margin: 15px 0 45px 0; }
  #master-section article {
    margin: 0 280px;
    padding: 100px 40px 0;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.45em;
    border-left: 1px solid #e3e6e9; }
    #master-section article .article-title {
      font-family: 'Arapey', serif;
      display: inline-block;
      font-size: 60px; }
    #master-section article .timestamp {
      color: #9ba5b1; }
    #master-section article:last-child {
      padding-bottom: 175px; }

.footer {
  font-size: 0.85em;
  position: relative;
  top: -25px;
  text-align: center;
  color: rgba(51, 51, 51, 0.65); }

@media (max-width: 1280px) {
  #master-section article {
    margin: 0 100px; } }
